@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight:bold;
}

.user-input {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  border: 1px solid black;
}

.input-field {
  width: 100%;
  display: flex;
  align-self: flex-end;
}
